* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg?semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
  }
  
  input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .weather-info {
    display: none;
  }
  
  #weather-icon {
    width: 80px;
    height: 80px;
  }
  
  p {
    margin: 10px 0;
    font-size: 18px;
  }
  